.navbar.bg-body-tertiary.fixed-top {
            width: 80%;
            /* Full width */
            background-color: #333;
            /* Dark background */
            position: relative;
            /* Default: keeps it at the top */
            margin-bottom: 60px;
}