# Node modules
**/node_modules/

# Build output
**/build/
**/dist/

# Environment variables
**/.env*
!.env.example

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# OS
.DS_Store

# Coverage
**/coverage/

#server
Server/services/user.js
Server/services/tokens.js

application/src/ConstantStrings.js
