.top-bar{
  width: 80vw;             /* Full width */
  background-color: #333;  /* Dark background */
  position: relative;      /* Default: keeps it at the top */
  margin-bottom: 60px;
}

.button{
    display: flexbox;
}